<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.wionews.com/sites/default/files/styles/story_page/public/2018/09/12/52066-big-cinemas-mattewada-warangal-multiplex-cinema-halls-qkpo8wy.png)">
  Save any kind of movies
</div>
<div class="flex">
  <h4>My Lists</h4>
  <%= link_to "Create a movie list", new_list_path %>
</div>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=cl_image_path list.photo.key%>')">
  <%= link_to list.name, list_path(list[:id])%>
    </div>
  <% end %>
</div>
